{% extends 'layout.html' %}

{% load static %}
{% block title %}
    About Us
{% endblock %}


{% block content %}
    <div class="container my-4">
      <div
        class="row featurette d-flex justify-content-center align-items-center"
      >
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
            PRASIDDHA SHIWAKOTI
            <span class="text-body-secondary">Project Member</span>
          </h2>
          <p class="lead">
            A true academic holder, his dedication to excellence is evident in every project he undertakes. His sharp mind is matched only by his generosity of spirit, as he eagerly shares his knowledge and expertise with all of us.His presence enriches our team, inspiring us to reach greater heights and embody the values of camaraderie and collaboration. We find not just a teammate, but a beacon of inspiration and a friend whose brilliance shines brightly for all to see.a beacon of inspiration and a friend whose brilliance shines brightly for all to see.
          </p>
        </div>
        <div class="col-md-5">
          <img src='{% static "images/images.jpeg" %}' class="img-fluid" width="400" height="400" alt="AutoCatalyst">
        </div>
      </div>
      <hr class="featurette-divider" />
      <div
        class="row featurette d-flex justify-content-center align-items-center"
      >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">
            YUNISH SHRESTHA
            <span class="text-body-secondary">Project Member</span>
          </h2>
          <p class="lead">
            With a gentle smile that speaks volumes, he navigates the complexities of our academic pursuits with grace and precision.Behind his reserved demeanor lies a sharp mind, a keen intellect that effortlessly discerns solutions where others see only challenges.In his understated way, he fosters an atmosphere of tranquility and focus, where every member feels valued and heard.We are privileged to have him among us, a steadfast ally whose quiet strength and unwavering kindness inspire us all to be better.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{% static 'images/images.jpeg' %}" class="img-fluid" width="400" height="400" alt="AutoCatalyst">
        </div>
      </div>
      <hr class="featurette-divider" />
      <div
        class="row featurette d-flex justify-content-center align-items-center"
      >
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">
           POOJA FUYAL
            <span class="text-body-secondary">Project Member</span>
          </h2>
          <p class="lead">
            Her actions speak volumes, for she approaches every task with unwavering persistence and a heart full of kindness. Through her dedication and hard work, she embodies the essence of resilience, overcoming challenges with grace and determination. she never fails to extend a helping hand or offer words of encouragement to her fellow teammates. In her, we find not just a teammate, but a true friend whose spirit uplifts us all and reminds us of the power of perseverance and compassion. 
          </p>
        </div>
        <div class="col-md-5">
          <img src="{% static 'images/images.jpeg' %}" class="img-fluid" width="400" height="400" alt="AutoCatalyst">
        </div>
      </div>
    </div>
{% endblock %}